<div class="body">
  <div class="card-container">
    <div class="card">
      <img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" />
      <h3>Faça Perguntas</h3>
      <p>Respostas apoiadas em citações para suas perguntas de pesquisa de forma rápida e intuitiva</p><br>
      <p>Descubra e encontre artigos, dados e autores com facilidade</p><br>
      <p>Obtenha Resumos e parafrases inteligentes</p><br>
    </div>
    <div class="card">
      <img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" />
      <h3>Insights IA</h3>
      <p>Visualize dados complexos de forma clara e concisa em dashboards personalizados</p> <br>
      <p>Identifique tendências, padrões e lacunas em sua área de pesquisa.</p><br>
      <p>Análise das citações identificando relevância e confiabilidade</p><br>
    </div>
    <div class="card">
      <img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" />
      <h3>Conexão para Pesquisadores</h3>
      <p>Submeta suas necessidades de pesquisa e obtenha colaboração de outros pesquisadores</p><br>
      <p>Encontre colaboradores e mentores com interesses em comum</p><br>
      <p>Integre a Plataforma Lattes e colabore em projetos inovadores.</p><br>
    </div>
  </div>
</div>
<div class="post-bar">
  <button class="principal"><img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" /> Novo
      Chat</button>
  <button class="btns"><img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" /></button>
  <button class="btns"><img src="imagens/icons/plus-circle-svgrepo-com (2).svg" width="15px" /></button>
  <input type="text" placeholder="Type Message" />
  <button class="btns"><img src="imagens/icons/send-svgrepo-com.svg" width="15px" /></button>
</div>
