<div class="container full-screen-div">
  <div class="top-div">
    <div class="card">
      <!-- <h4 class="card-title">Card 3</h4> -->
      <img src="imagens/chart1.png" alt="Card 3"
        class="card-img">

    </div>


  </div>
  <div class="bottom-container">
    <div class="bottom-left">
      <div class="card">
        <h1 class="card-title">Citações Relevantes</h1>
        <img src="imagens/chart2.png" alt="Card 3"
          class="card-img">
      </div>
    </div>
    <div class="bottom-right">
      <div class="card">
        <h1 class="card-title">Insights e Recomendações</h1>
        <img src="imagens/chart3.png" alt="Card 3"
          class="card-img">

      </div>
    </div>
  </div>
</div>
