<div class="conteudo">


  <aside class="sidebar sidebar-left">
    <div class="profile">
      <img src="https://avatars.githubusercontent.com/u/9269696?v=4" alt="Foto de Perfil" class="profile-img">
      <div class="profile-info">
        <p class="name">Rodrigo Gregorio Neri</p>
        <a href="#" class="link">Alternar Perfil</a>
        <a href="#" class="link">Currículo Lattes</a>
      </div>
    </div>

    <div class="spacer"></div> <!-- Espaço de 30cm, conforme solicitado -->

    <div class="menu">
      <ul>
        <li><a href="#">Meu Perfil</a></li>
        <li><a href="#">Meus Artigos</a></li>
        <li><a href="#">Minha Biblioteca</a></li>
        <li><a href="#">Colaborações</a></li>
        <li><a href="#">Necessidade de Pesquisa</a></li>
        <li><a href="#">Treinamentos</a></li>
      </ul>
    </div>
  </aside>


  <div class="content conteudo-central">
    <div class="cards-container">
      <div class="card">
        <img src="imagens/icons/edit-svgrepo-com.svg" style="width: 147px;" width="18px" />
        <h4 class="card-title">Criar Tópico</h4>
      </div>
      <div class="card">
        <img src="imagens/biologia.png" alt="Card 1"
          class="card-img">
        <h4 class="card-title">Biologia Molecular</h4>
      </div>
      <div class="card">
        <img src="imagens/plantas.png" alt="Card 2"
          class="card-img">
        <h4 class="card-title">Plantas Pteridófitas</h4>
      </div>
      <div class="card">
        <img src="imagens/bioquimica.png" alt="Card 3"
          class="card-img">
        <h4 class="card-title">Bioquímica</h4>
      </div>
      <!-- Adicione mais cards conforme necessário -->
    </div>

    <div class="post-bar">
      <img src="https://avatars.githubusercontent.com/u/9269696?v=4" alt="Foto de Perfil" class="avatar-img">
      <input type="text" placeholder="Type Message" />
      <button class="btns"><img src="imagens/icons/send-svgrepo-com.svg" width="15px" /></button>
    </div>
    <div>
      <hr class="linha-horizontal">
    </div>

    <div class="conteiner-centralizado">

      <div class="icones-links">
        <a href="#" class="icone-link">
          <img src="imagens/icons/send-svgrepo-com.svg" width="15px" /> Compartilhar Arquivo
        </a>
        <a href="#" class="icone-link">
          <img src="imagens/icons/send-svgrepo-com.svg" width="15px" /> Compartilhar Necessidade de Pesquisa
        </a>
      </div>
    </div>
    <div class="posts">
      <img src="imagens/conteudo.png" alt="Conexão 2">
    </div>
  </div>




  <aside class="sidebar sidebar-left">
    <aside class="sidebar-direita">
      <!-- Solicitações de Amizade -->
      <div class="solicitacoes-amizade">
        <h3>Solicitações</h3>
        <ul>
          <li>
            <div class="solicitacao">
              <img src="https://avatars.githubusercontent.com/u/9269696?v=4" alt="Amigo 1" class="solicitacao-img">
              <div class="solicitacao-info">
                <p class="nome">Rodrigo Neri</p>
                <button class="confirmar">Confirmar</button>
                <button class="delete">Deletar</button>
              </div>
            </div>
          </li>
          <li>
            <div class="solicitacao">
              <img src="https://avatars.githubusercontent.com/u/9269696?v=4" alt="Amigo 2" class="solicitacao-img">
              <div class="solicitacao-info">
                <p class="nome">Rodrigo Gregorio</p>
                <button class="confirmar">Confirmar</button>
                <button class="delete">Deletar</button>
              </div>
            </div>
          </li>
          <!-- Adicione mais itens conforme necessário -->
        </ul>
      </div>

      <!-- Conexões -->
      <div class="conexoes">
        <h3>Conexões</h3>
        <ul>
          <li>
            <div class="conexao">
              <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjfejDgfrvK7OHpDvSy4K1lGcytEmxmBXJQ83h4L0eMABsy1Aix738ivkMfvD_E-mrFaG2iKD98Z54BSnhc7w7LWvCfjSl8M2u-LSQhIcm5S066cyDbE_3qeQgwwOoAcpznxcVfR5y1HWyOOPvpcmSAOYeZ5-2o94EQKHWNvUK25pl9DHCD927PDtoCiw/s1024/image%20(2).jpg" alt="Conexão 1" class="conexao-img">
              <div class="conexao-info">
                <p class="nome">Junio Armando <img src="imagens/icons/email-svgrepo-com.svg" class="email" width="18px" /></p>

              </div>
            </div>
          </li>
          <li>
            <div class="conexao">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBwr_zZjgvmu4BccwDNIHic8K5dyehw7cSYA&s"  alt="Conexão 2" class="conexao-img">
              <div class="conexao-info">
                <p class="nome">Philipe Andras <img src="imagens/icons/email-svgrepo-com.svg" width="18px" class="email" /></p>

              </div>
            </div>

          </li>
          <li>
            <div class="conexao">
              <img src="https://www.gov.br/bn/pt-br/central-de-conteudos/noticias/perfil-thiago-campos-pessoa-lourenco-e-o-projeto-aristocracia-negreira-na-construcao-do-brasil-o-comercio-proibido-de-africanos-e-a-nobreza-imperial-pelas-paginas-da-imprensa-abolicionista/thiago-campos-foto-3.jpg/@@images/483a0145-7fbc-41b9-8111-ef833b2ed508.jpeg" alt="Conexão 1" class="conexao-img">
              <div class="conexao-info">
                <p class="nome">Antonio Fortes <img src="imagens/icons/email-svgrepo-com.svg" width="18px" class="email" /></p>

              </div>
            </div>
          </li>
          <li>
            <div class="conexao">
              <img src="https://www.projetandopessoas.com.br/wp-content/uploads/2013/11/andre-lima.jpg" alt="Conexão 2" class="conexao-img">
              <div class="conexao-info">
                <p class="nome">Wagner Moura <img src="imagens/icons/email-svgrepo-com.svg" width="18px" class="email" /></p>

              </div>
            </div>

          </li>

        </ul>
      </div>






    </aside>
  </aside>


</div>
